@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Titillium+Web&display=swap');


/*This is here for ease of use - Responsive Web Design takes time*/
body {
    max-width: 1200px;
    margin: auto;
}

main {
  margin: 1em;
  padding: ;
}

footer {
  margin-top: 5em;
}

footer h4 {
    /* font-family: 'Playfair Display', serif; */
    color: white;
    font-size: 1.4em;
    padding: 0.5em;
    margin: 0;
    /* margin-top: 1em; */
}


.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    padding-top: 0.1em;
}

.navbar-slogan {
    color: white;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
/*    font-family: 'Playfair Display', serif;*/
}

.navbar-nav a {
    font-size: 1.2em !important;
}

h2 {
    margin-top: 1.2em;
}

h4 {
    font-size: 1.2em;
}

#crop-description {
    margin: 0;
}

img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: .5s ease;

}

img:hover {
    filter: grayscale(0%);
}

#area-calculator>div {
    width: 20%;
    text-align: center;
    margin: auto;
}

#area-calculator h4 {
    background-color: #8e8c84;
    color: white;
    line-height: 2em;
    margin-bottom: 0;
    border-radius: 0.25em 0.25em 0 0;

}


#area-chart {
    margin-top: 0;
    padding-top: 0;
    /*margin-left: 1.2em;*/
    margin-right: 0;
    width: 60%;
}

#area-spec {
    width: 35%;
}

#area-spec> h4 {
    font-size: 1.5em;
}

#area-spec> p {
    font-size: 1.25em;
}

#solar-ghi-chart {
    background-color: black;
/*    border: 0.5em solid white;*/
    box-sizing: border-box;
    display: none;
}

#canvas-parent {
    margin-top: 0;
    height: 500px;
}

#sun-angle-canvas {
    margin-bottom: 0;
    height: 250px;
    padding: 0;
}


#canvas-row {
    margin-top: 2em;

}

.plant_plot {
    width: 20%;
    margin-top: 0;
    margin-bottom: 0;
}

.card {
    transition: all 0.4s ease;
}
.card:hover {
    opacity: 0.7;
}

#h_barchart_plant {
    width: 50%;
    height: 300px;
}

#area_data_by_plot_chart {
    height: 200px;
    width 50%;
}

#piechart_plottype {
    width: 45%;
    height: 300px;
}