<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
    <div class="container-fluid">
        {% include "navigation.html" %}
    <main>
        <h1>User List </h1>
        <table class="table table-dark table-hover">
            <th scope = "col"> Username </th>
            <th scope = "col"> Email </th>
            {% for item in data %}
                <tr>
                    <td> {{ item.Username }} </td>
                    <td> {{ item.Email }} </td>
                </tr>
            {% endfor %}
        </table>
    </main>
        {% include "footer.html" %}
    </div>
</body>
</html>
